<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert a Post Into our Database</title>
    <link rel="stylesheet" th:href="@{/css/posts.css}">
</head>
<body>
<div class="fieldset">
<fieldset >
    <legend>Add a Post</legend>
    <form action="/posts/create" method="post">
        <label for="boxtitle">Title:</label>
        <input type="text" id="boxtitle" name="title">
        <br>
        <label for="body">Body:</label>
<!--        <textarea id="text" id="body" name="body" rows="12" cols="50"></textarea>-->
        <textarea id="body" name="body" rows="12" cols="50"></textarea>
        <br>
        <input type="submit" value="submit">
    </form>
</fieldset>
</div>
<div th:replace="partials/posts.html :: footer"></div>
</body>
</html>
