<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert a Post Into our Database</title>
    <link rel="stylesheet" th:href="@{/css/posts.css}">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet"></head>

</head>
<body>
<div class="title" th:replace="partials/posts.html :: title"></div>


<div class="createFieldset">
<fieldset id="createFieldset">
    <legend class="loginLegend">Add a Post</legend>
    <form th:action="@{/posts/create}"  method="post" th:object="${post}">
        <label for="boxtitle">Title:</label>
        <input type="text" id="boxtitle" name="title" class="bodyType" th:field="*{title}">
        <br>
        <label class="bodyUp"  for="body">Post Body:</label>
        <textarea  class="createBody" id="body" name="body" rows="12" cols="50" th:field="*{body}"></textarea>
        <br>
        <label for="body">Image:</label>
        <input class="bodyType" id="image" name="image" th:field="*{image}">
        <br>
        <input class="submit" type="submit" value="submit">
    </form>
</fieldset>
</div>


</body>
</html>
