<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert a Post Into our Database</title>
    <link rel="stylesheet" th:href="@{/css/posts.css}">
</head>
<body>
<div class="fieldset">
<fieldset >
    <legend>Add a Post</legend>
    <form th:action="@{/posts/create}"  method="post" th:object="${post}">
        <label for="boxtitle">Title:</label>
        <input type="text" id="boxtitle" name="title" th:field="*{title}">
        <br>
        <label for="body">Body:</label>
        <textarea id="body" name="body" rows="12" cols="50" th:field="*{body}"></textarea>
        <br>
        <label for="body">Image:</label>
        <input class="boximage" id="image" name="image" th:field="*{image}">
        <br>
        <input type="submit" value="submit">
    </form>
</fieldset>
</div>
<div th:replace="partials/posts.html :: footer"></div>
</body>
</html>
