<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit a Post</title>
  <link rel="stylesheet" th:href="@{/css/posts.css}">
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet"></head>
</head>
<body>
<div class="title" th:replace="partials/posts.html :: title"></div>
<!--<form th:action="@{|/posts/${id}/edit|}" method="post" th:object="${post}">-->
<!--  <label for="title">Title:</label>-->
<!--  <input type="text" th:field="*{title}" id="title">-->
<!--  <br><br>-->
<!--  <label for="body">Body:</label>-->
<!--  <textarea th:field="*{body}" id="body" rows="10" cols="32"></textarea>-->
<!--  <br>-->
<!--  <label for="body">Image:</label>-->
<!--  <input class="boximage" id="image" name="image" th:field="*{image}">-->
<!--  <br>-->
<!--  <input type="submit" value="Submit">-->
<!--</form>-->


<div class="createFieldset">
  <fieldset id="createFieldset">
    <legend class="loginLegend">EDIT A POST</legend>
    <form th:action="@{|/posts/${id}/edit|}" method="post" th:object="${post}">
      <label for="boxtitle">Title:</label>
      <input type="text" id="boxtitle" name="title" class="bodyType" th:field="*{title}">
      <br>
      <label class="bodyUp"  for="body">Post Body:</label>
      <textarea  class="createBody" id="body" name="body" rows="12" cols="50" th:field="*{body}"></textarea>
      <br>
      <label for="body">Image:</label>
      <input class="bodyType" id="image" name="image" th:field="*{image}">
      <br>
      <input class="submit" type="submit" value="submit">
    </form>
  </fieldset>
</div>


</body>
</html>
