<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register for the Spring Blog</title>
  <link rel="stylesheet" th:href="@{/css/posts.css}">
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<div class="title" th:replace="partials/posts.html :: title"></div>




<div class="register">
  <fieldset id="registerFieldset">
    <legend class="registerLegend">REGISTER</legend>
    <form class="registerForm" th:action="@{/posts/register}" th:object="${user}" method="post">
      <label for="username">Username</label>
      <input class="registerType" id="username" th:field="*{username}" type="text">
      <br>
      <label for="email">Email</label>
      <input class="registerType" id="email" th:field="*{email}" type="text">
      <br>
      <label for="password">Password</label>
      <input class="registerType" id="password" name="password" th:field="*{password}" type="password">
      <br>
      <input class="submit" type="submit" value="Sign Me Up!">
    </form>
  </fieldset>
</div>



</body>
</html>
