<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Our Posts</title>
<!--We need to use thymeleaf css linking for it to work-->
    <link rel="stylesheet" th:href="@{/css/posts.css}">
</head>
<body>
<div class="title" th:replace="partials/posts.html :: title"></div>
<div>
        <div class="showPosts" th:each="post : ${posts}">
            <span  class="postTitle" th:text="${post.title}"></span><br>
            <span th:text="${post.body}"></span>
            <br>
            <div class="postedBy">
                Posted by:  <span class="pb" th:each="user : ${post.user}" th:text="  ${post.user.getEmail()}"> </span>
            </div>
        </div>
</div>
<div th:replace="partials/posts.html :: footer"></div>

</body>
</html>
