
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head (title)">
  <meta charset="UTF-8">
  <title th:text="${title}">Posts</title>
  <link rel="stylesheet" th:href="@{/css/posts.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet"></head>
<body>
<!--HEADER-->
<div th:fragment="title">
  <nav class="partialNav" >

<!--LEFT NAV-->
        <span class="leftNav" style="font-family: 'Kumbh Sans', sans-serif;">
            <a class="create" href="/posts/create">Create</a>
            <a sec:authorize="isAnonymous()" href="/posts/register">All Posts</a>
            <a sec:authorize="isAuthenticated()" href="/posts/show">All Posts</a>
        </span>
<!--CENTER NAV-->
        <a href="/posts/index" id="indexcenter" class="indexnav"> BLOGBEA</a>

<!--LOGGED IN AS-->
        <span class="loggedInAs" sec:authorize="isAuthenticated()" style="font-family: 'Kumbh Sans', sans-serif;
        margin-top: 1.5em;">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                 class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
          <span th:text="${#authentication.principal.username}"/>
<!--LOGOUT BUTTON-->

         <form th:action="@{/logout}" th:method="post" style="display: flex; justify-content:
            flex-end">
            <button class="logoutButton" style="font-family: 'Kumbh Sans', sans-serif; ">Logout
            </button>
         </form>
        </span>
<!--LOGGED IN AS-->
      <a class="loggedInAs"  style="font-family: 'Kumbh Sans', sans-serif;
        margin-top: 2em; " href="/login" sec:authorize="isAnonymous()">
          <button  class="logoutButton" style="font-family: 'Kumbh Sans', sans-serif; ">LOGIN
          </button>
      </a>
  </nav>

</div>

</body>
</html>
