@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.footer {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    color: #777474;
    margin-top: 1em;
}

body {
    color: #5a4bb2;
    font-family: 'Playfair Display', serif;
    background-image: url("/img/bg.png");
    background-size: cover;
    font-size: 30px;
}

.postTitle {
    color: #3c2085;
    font-size: 90px;
}

.indexClick {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #483a9a;
}

.fieldset {
    color: #1f4fa6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


fieldset {
    border-radius: 50px;
    color: #483a9a;
    background: rgba(253, 115, 0, 0.3);}

#boxtitle {
    margin-left: 14px;
    margin-bottom: 20px;
    width: 500px;
    font-size: 30px;
    height: 60px;
    float: right;
}

#body {
    width: 500px;
    float: right;
    text-align: left;
    row-span: 20;
}

.postedBy {
    display: flex;
    justify-content: right;
    font-size: 20px;
    font-style: italic;
    color: #511c85;
}

.pb{
    margin-left: 5px;
    color: #8746cc;
}

.showPosts {
    box-shadow: 10px 10px 5px #8c38d3;
    border-radius: 50px;
    background: rgba(253, 115, 0, 0.3);
    margin: 40px 10px;
    padding: 20px 20px;
}
