@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

#indexcenter {
    /*display: flex;*/
    /*justify-content: center;*/
    margin-left: 35%;
    font-family: 'Homemade Apple', cursive;
    font-size: 50px;
    text-decoration: none;
}


.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.footer {
    display: flex;
    justify-content: center;
    color: #777474;
    margin-top: 1em;
}

body {
    color: #5d5b5b;
    background-image: url("/img/marblebg.jpg");
    background-size: cover;
    font-size: 30px;
}

.postTitle {
    color: #131317;
    font-size: 90px;
}

.indexClick {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #5d5b5b;
}

.fieldset {
    color: #5d5b5b;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


fieldset {
    border-radius: 50px;
    color: #5d5b5b;
    background: rgba(253, 115, 0, 0.3);}

#boxtitle {
    margin-left: 23px;
    margin-bottom: 20px;
    width: 500px;
    font-size: 30px;
    height: 60px;
    float: right;
}

.boximage {
    margin-left: 2px;
    margin-top: 20px;
    width: 83%;
    font-size: 20px;
}

#body {
    margin-left: 20px;
    width: 500px;
    float: right;
    text-align: left;
    row-span: 20;
}

.postedBy {
    display: flex;
    justify-content: right;
    font-size: 20px;
    font-style: italic;
    color: #343333;
    font-family: 'Playfair Display', serif;
}

.pb{
    margin-left: 5px;
    color: #5d5b5b;
}

.showPosts {
    box-shadow: 1px 5px 5px #727272;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px 20px;
    width: 50%;
    margin: 50px auto ;
}

.navbtn:hover {
    background-color: rgba(255, 167, 167, 0.7);
}
