@font-face {
    font-family: AestheticRegular;
    src: url("../fonts/AestheticRegular.ttf");
}

@font-face {
    font-family: Swagen;
    src: url("../fonts/Swagen.otf")
}

/*ALL PAGES*/
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #5b0129;
}

body {
    color: #5d5b5b;
    background-image: url("/img/marblebg.jpg");
    background-size: cover;
    font-family: 'Kumbh Sans', sans-serif;
}




/*PARTIALS*/
.partialNav {
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    color: #5b0129;
}

#indexcenter {
    margin-left:auto;
    margin-right:auto;
    font-family: AestheticRegular, sans-serif;
    font-size: 75px;
    text-decoration: none;
}

.loggedInAs {
    margin-top: auto;
    margin-right: 10px;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 20px;
}

.leftNav {
    margin-top: 2em;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.create {
    margin-left: .3em;
    margin-right: 1em;
}

.logoutButton {
    margin-left: 10px;
    color: #5b0129;
    border-radius: 30px;
    padding: 10px;
    border:1px solid #c5c4c4
}

.logoutButton:hover {
    background-color: rgba(241, 212, 255, 0.52);
}

.footer {
    display: flex;
    justify-content: center;
    color: #777474;
}


/*INDEX PAGE*/

.indexBody {
    color: black;
}

#indexBody {
    display: flex;
    justify-content: center;
}

.indexBody1 {
    display: flex;
    justify-content: center;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 50px;
}

iframe {
    height: 400px;

}

.indexBody2 {
    display: flex;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 30px;
}

.inspan {
    font-family: AestheticRegular, sans-serif;
    margin-left: 18px;
}

.createPost1, .createPost2 {
    border: 1px;
    padding: 150px 100px;
    border-radius: 50px;
    width: 300px;
    height: 100px;
    margin: 5px 100px ;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #5d5b5b;
    font-family: AestheticRegular, sans-serif;
}

.createPost1 {
    background-image: url('/img/typing.jpg');
    background-size: cover;
}

.createPost2 {
    background-image: url('/img/view.jpg');
    background-size: cover;
}

.indexClick1, .indexClick2 {
    background-image: url("/img/marblebg.jpg");
    background-size: cover;
    border: 1px;
    border-radius: 50px;
    padding: 20px;
    background-color: #fff1f1;
}

.tryUs {
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 100px;
    padding: 50px 50px;
    background-color: white;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 30px;
}

.tryUs:hover {
    background-color: rgba(241, 212, 255, 0.52);
}

.parent {
    display: flex;
    justify-content: center;
}

.postTitle {
    color: #131317;
    font-size: 90px;
}


/*CREATE*/

.createFieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

#createFieldset {
    font-size: 30px;
    color: #5b0129;
    background: rgba(253, 115, 0, 0.3);
    height: 800px;
    width: 700px;
    border: none;
    border-radius: 50px;
}

.bodyType {
    font-family: 'Kumbh Sans', sans-serif;
    border-color: white;
    border-radius: 30px;
    width: 700px;
    height: 40px;
    font-size: 35px;
    padding: 5px;
}

.createBody {
    border-radius: 30px;
    width: 700px;
    row-span: 10;
    padding: 7px;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 25px;

}



/*LOGIN*/
.login {
    margin-top: 10em;
    color: #5d5b5b;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginFieldset {
    color: #5b0129;
    background: rgba(253, 115, 0, 0.3);
    border-radius: 50px;
    height: 350px;
    width: 500px;
    border: none;
}

.loginLegend {
    font-family: AestheticRegular, sans-serif;
    font-size: 50px;
}

.submit {
    display: block;
    justify-content: flex-end;
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: 30px;
    border: none;
    border-radius: 50px;
    padding: 10px;
}

.submit:hover {
    background-color: rgba(255, 167, 167, 0.7);
}

.loginForm {
    font-size: 30px;
    font-family: 'Kumbh Sans', sans-serif;
}

.loginType {
    font-family: 'Kumbh Sans', sans-serif;
    border-color: white;
    border-radius: 30px;
    width: 400px;
    height: 40px;
    font-size: 35px;
    padding: 5px;
}

.bodyUp{
    float: top;
}

/*REGISTER*/
.register {
    margin-top: 10em;
    color: #5d5b5b;
    display: flex;
    justify-content: center;
    align-items: center;
}

#registerFieldset {
    color: #5b0129;
    background: rgba(253, 115, 0, 0.3);
    border-radius: 50px;
    height: 600px;
    width: 500px;
    border: none;
}

.registerLegend {
    font-family: AestheticRegular, sans-serif;
    font-size: 50px;
}


.submit {
    display: block;
    justify-content: flex-end;
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: 30px;
    border: none;
    border-radius: 50px;
    padding: 10px;
}

.submit:hover {
    background-color: rgba(255, 167, 167, 0.7);

}

.registerForm {
    font-size: 30px;
    font-family: 'Kumbh Sans', sans-serif;
}

.registerType {
    display: flex;
    justify-content: flex-end;
    font-family: 'Kumbh Sans', sans-serif;
    border-color: white;
    border-radius: 30px;
    width: 400px;
    height: 40px;
    font-size: 35px;
    padding: 5px;
    margin: 5px 50px;
}



/*SHOW-POSTS*/
.col {
    display: flex;
    flex-wrap: wrap;

}

.showPosts {

    box-shadow: 1px 5px 5px #727272;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px 20px;
    width: 40%;
    margin: 50px auto ;
}

.postedBy {
    display: flex;
    justify-content: right;
    font-size: 20px;
    font-style: italic;
    color: #343333;
    font-family: 'Kumbh Sans', sans-serif;
}

.pb{
    font-family: 'Kumbh Sans', sans-serif;
    margin-left: 5px;
    color: #5d5b5b;
}

.aunderline {
    text-decoration: none;
}

.postTitle {
    font-family: AestheticRegular, sans-serif;
}

.navbar-brand {
    font-family: AestheticRegular, cursive;
    font-size: 30px
}
